<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #eeeeee;"
>
  <div
    class="collapse navbar-collapse d-flex justify-content-center"
    id="navbarSupportedContent"
  >
    <form class="form-inline">
      <button type="button" class="btn btn-sm btn-light">
        <i class="fa fa-location-arrow"></i>
      </button>
      <input class="form-control mr-sm-2 ml-sm-2" type="text" />
      <button class="btn btn-sm btn-light" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</nav>
