<!-- spinner -->
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="pacman"
  [fullScreen]="true"
  ><p style="color: white;">Cargando...</p></ngx-spinner
>

<!-- navbar -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #eeeeee;"
>
  <div
    class="collapse navbar-collapse d-flex justify-content-center"
    id="navbarSupportedContent"
  >
    <form class="form-inline">
      <button type="button" class="btn btn-sm btn-light">
        <i class="fa fa-location-arrow"></i>
      </button>
      <input class="form-control mr-sm-2 ml-sm-2" type="text" />
      <button class="btn btn-sm btn-light" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
  <div class="mr-auto d-none d-sm-block">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          °F, mph
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">°F, mph</a>
          <a class="dropdown-item" href="#">°C, m/s</a>
          <a class="dropdown-item" href="#">°C, Km/h</a>
          <a class="dropdown-item" href="#">°C, mph</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- header and preliminary weather status bar -->
<header
  class="navbar navbar-expand-lg navbar-light"
  style="background-color: #f7f7f7;"
>
  <div class="container">
    <div class="table-responsive d-flex justify-content-center">
      <table class="table-status">
        <tr>
          <td>
            <p>
              <span class="font-weight-status">Wind: </span
              >{{ weatherData?.currently.windGust | number: "1.0-0" }}
            </p>
          </td>
          <td>
            <p>
              <span class="font-weight-status">Humidity: </span
              >{{ weatherData?.currently.humidity | number: "1.0-0" }}00%
            </p>
          </td>
          <td>
            <p>
              <span class="font-weight-status">Dew Pt: </span
              >{{ weatherData?.currently.dewPoint | number: "1.0-0" }}
            </p>
          </td>
          <td>
            <p>
              <span class="font-weight-status">UV Index: </span
              ><span class="badge badge-success">{{
                weatherData?.currently.uvIndex | number: "1.0-0"
              }}</span>
            </p>
          </td>
          <td>
            <p>
              <span class="font-weight-status">Visibility: </span
              >{{ weatherData?.currently.visibility | number: "1.0-0" }}+ mi
            </p>
          </td>
          <td>
            <p>
              <span class="font-weight-status">Pressure: </span
              >{{ weatherData?.currently.pressure | number: "1.0-0" }} mb
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
</header>

<!-- weather hourly -->
<div class="container mt-5">
  <div class="row">
    <div class="col-5">
      <img
        src="https://darksky.net/images/weather-icons/{{
          weatherData?.currently.icon
        }}.png"
        width="70"
        height="70"
        class="float-right"
      />
    </div>
    <div class="col-7">
      <span class="font-weight-bold h2" style="text-align: left;"
        >{{ weatherData?.currently.temperature | number: "1.0-0" }}°
        {{ weatherData?.currently.summary }}</span
      >
      <div class="mt-1">
        <p>
          <span class="font-weight-status">Feels Like: </span
          >{{ weatherData?.currently.apparentTemperature | number: "1.0-0" }}°
          <span class="font-weight-status">Low: </span
          >{{ (weatherData?.daily.data)[0].temperatureLow | number: "1.0-0" }}°
          <span class="font-weight-status">High: </span
          >{{
            (weatherData?.daily.data)[0].apparentTemperatureHigh
              | number: "1.0-0"
          }}°
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center" style="font-size: 28px;">
        {{ weatherData?.hourly.summary }}
      </p>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <div id="timeline"></div>
  </div>
  <div class="d-flex justify-content-center">
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[0].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[0].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[1].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[1].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[2].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[2].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[3].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[3].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[4].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[4].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[5].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[5].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[6].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[6].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[7].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[7].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[8].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[8].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[9].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[9].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="mr-4 text-center">
      {{ (weatherData?.hourly.data)[10].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[10].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
    <span class="text-center">
      {{ (weatherData?.hourly.data)[11].time * 1000 | date: "hh a" | lowercase
      }}<br /><span style="font-size: 18px;"
        >{{
          (weatherData?.hourly.data)[11].temperature | number: "1.0-0"
        }}°</span
      >
    </span>
  </div>
</div>

<!-- weather daily -->
<div class="container mb-5" style="margin-top: 5%;">
  <p class="text-center" style="font-size: 28px; margin-bottom: 5%;">
    {{ weatherData?.daily.summary }}
  </p>
  <div class="row" *ngFor="let item of weatherData?.daily.data">
    <div class="col-md-2">
      <img
        src="https://darksky.net/images/weather-icons/{{ item.icon }}.png"
        width="40"
        height="40"
        class="float-right mt-3"
      />
    </div>
    <div class="col-md-2 font-weight-status">
     <p class=" mt-3">{{ item.time * 1000 | date:'EEE' }}</p>
    </div>
    <div class="col-md-8">
      <p class="text-center">{{ item.summary }}</p>
      <div class="row">
        <div class="col-md-1">{{ item.temperatureLow | number: "1.0-0" }}°</div>
        <div class="col-md-10">
          <div class="progress text-center">
            <div
              class="progress-bar bg-dark"
              role="progressbar"
              style="width: 100%;"
            ></div>
          </div>
        </div>
        <div class="col-md-1">
          {{ item.temperatureHigh | number: "1.0-0" }}°
        </div>
      </div>
    </div>
  </div>
</div>
