.form-inline {
  margin-left: 5%;
}

.form-inline input[type="text"] {
  width: 640px;
  border: none;
  border-radius: 25px;
}

.font-weight-status {
  font-weight: 500;
}

.table-status > tr > td {
  padding: 0 20px;
  text-align: center;
}

#timeline {
  height: 40px;
  width: 73%;
  border-radius: 5px;
  background-color: #aabbc4;
}

/* media querys to manage sizes according to the Chrome console */
@media (max-width: 768px) {
  .form-inline {
    margin-left: -5%;
  }
  .form-inline input[type="text"] {
    width: 480px;
  }
}

@media (max-width: 425px) {
  .form-inline input[type="text"] {
    width: 330px;
  }
}

@media (max-width: 375px) {
  .form-inline input[type="text"] {
    width: 280px;
  }
}

@media (max-width: 320px) {
  .form-inline input[type="text"] {
    width: 220px;
  }
}
